* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h2,
h3,
h4 {
    color: #4D4F62;
}

h1 {
    font-size: 24px;
    letter-spacing: 0.17px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

h2 {

    margin-top: 27px;
    font-weight: 600;
    font-size: 20px;
}

h3 {
    font-size: 24px;
    letter-spacing: 0.17px;
}

main {
    margin: 0 32px 78px 32px;


}

main p {
    line-height: 23px;
    letter-spacing: 0.09px;
}

main img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 28px;
    margin-bottom: 23px;
    width: 57px;
}

header {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 76px;
    width: 311px;

}

header p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 25px;
    font-weight: 200;

}

.supervisor,
.team-builder,
.karma,
.calculator {
    position: relative;
    padding: 0px 30px 0 30px;
    height: 220px;
    margin-bottom: 25px;
    border-top: 3.55px solid;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.supervisor {
    border-color: hsl(180, 62%, 55%);
}



.team-builder {
    border-color: hsl(0, 78%, 62%);

}

.karma {
    border-color: hsl(212, 86%, 64%);
}

.calculator {
    border-color: hsl(34, 97%, 64%);
}



/* @media screen and (max-width:1100px) {

    main{
        display: flex;
        flex-direction: column;


    }
.Card-1, .Card-2, .Card-3, .Card-4{
    margin-bottom:30px;
    margin-top: 0;
}
header{
    width: auto;
    margin-bottom: 70px;
    margin-top: 70px;

}
h1{
font-size: 2rem;
}

h3{
font-size: 1.8rem;
}
header p{
    font-weight: 200;
}
} */