* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

h2,
h3,
h4 {
    color: hsl(234, 12%, 34%);
}

h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

h2 {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1.6rem;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header Header"
        "Card-1 Card-2 Card-4"
        "Card-1 Card-3 Card-4";
    width: 345px;

}

.Header {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: Header;
    width: 45%;

}

.Header p {
    font-weight: 600;
}

.Card-1,
.Card-2,
.Card-3,
.Card-4 {
    width: 350px;
    height: 250px;
    padding: 30px;
    margin: 15px;
    border-top: 5px solid;
    border-radius: 6px;
    box-shadow: 5px 15px 10px 0 hsl(0, 0%, 98%);
}

.Card-1 {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-area: Card-1;
    border-color: hsl(180, 62%, 55%);
}

.Card-1 img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.Card-2 {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-area: Card-2;
    border-color: hsl(0, 78%, 62%);
    margin-top: 60px;

}

.Card-2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.Card-4 {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-area: Card-4;
    border-color: hsl(212, 86%, 64%);
}

.Card-4 img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.Card-3 {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-area: Card-3;
    border-color: hsl(34, 97%, 64%);
}

.Card-3 img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}