* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 311px;
}

h1,
h2,
h3,
h4 {
    color: #4D4F62;
}

h1 {

    font-weight: 600;

}

h1,
h3 {
    font-size: 24px;
    letter-spacing: 0.17px;
}

h2 {

    margin-top: 27px;
    font-weight: 600;
    font-size: 20px;

}


main {
    margin: 0 32px 78px 32px;

}

main p {
    line-height: 23px;
    letter-spacing: 0.09px;
}

main img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 28px;
    margin-bottom: 23px;
    width: 57px;
}

header {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 76px;
    width: 311px;

}

header p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 25px;
    font-weight: 200;

}

.supervisor,
.team-builder,
.karma,
.calculator {
    position: relative;
    padding: 0px 30px 0 30px;
    height: 220px;
    margin-bottom: 25px;
    border-top: 3.55px solid;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.supervisor {
    border-color: hsl(180, 62%, 55%);
}

.team-builder {
    border-color: hsl(0, 78%, 62%);

}

.karma {
    border-color: hsl(34, 97%, 64%);
}

.calculator {
    border-color: hsl(212, 86%, 64%);
}

@media only screen and (min-width:1110px) {
    body {
        flex: none;

    }

    header {
        width: 540px;
    }

    h1,
    h3 {
        font-size: 36px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0% 0%;
        grid-auto-flow: row;
        grid-template-areas:
            "supervisor team-builder calculator"
            "supervisor karma calculator";
        width: 1110px;
        height: 610px;
    }

    .supervisor {
        justify-self: end;
        align-self: center;
        grid-area: supervisor;
    }

    .team-builder {
        justify-self: center;
        align-self: end;
        grid-area: team-builder;
    }

    .calculator {
        justify-self: start;
        align-self: center;
        grid-area: calculator;
    }

    .karma {
        justify-self: center;
        align-self: start;
        grid-area: karma;
    }

    .calculator {
        margin-left: 30px;
    }

    .supervisor {
        margin-right: 30px;
    }

}